@import "tailwindcss";


@layer components {
    .nav-link {
        @apply text-[#ffffff!important] appearance-none flex flex-nowrap h-11 justify-center items-center w-full cursor-pointer hover:bg-white/10
    }

    .nav-link.active {
        @apply  bg-linear-to-r from-pink-400 to-pink-600
    }

    .input-group-label {
        @apply col-span-5 text-gray-500 font-bold flex flex-nowrap gap-4 items-center cursor-pointer
    }

    .toggle-button-group {
        @apply relative
    }

    .toggle-button-group label:first-child{
        @apply relative rounded-2xl bg-gray-50 h-[15px] w-9 inline-block ring-1 ring-gray-300 transition-colors duration-150 group-has-checked:bg-pink-500
    }
    
    .toggle-button-group label:first-child input[type="checkbox"]{
        @apply w-px h-px opacity-0
    }

    .toggle-button-group .thumb {
        @apply absolute -top-0.5 -left-0.5 transition-transform duration-150 translate-x-0 inline-block h-5 w-5 ring-2 ring-gray-400 rounded-full bg-white group-has-checked:translate-x-5 group-has-checked:ring-pink-500
    }

}